@charset "UTF-8";

//px to rem
@function rm($px) {
    @return calc($px / 16) * 1rem;
}

// SP用のvw関数
@function vw($px) {
    @return calc($px * 100vw / 390); // 例: カンプ幅 390pxの場合 100vw/390
}

//ブレイクポイント
$breakpoints: (
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 940px)",
    "xl": "screen and (min-width: 1000px)",
    ) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

body {
    font-family: "Marcellus",
        "EB Garamond",
        "Noto Serif JP",
        serif;
}

.header {
    background-image: url('/../images/mainvisual_sp.jpg'
    );
max-width: 100%;
height: 115.3vw;
background-size: cover;
margin: 0 auto;
background-position: center;

@include mq(md) {
    background-image: url('/../images/mainvisual_pc.jpg');
    height: 720px;
}

&__logo {
    font-size: vw(24);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: vw(24);
    font-weight: normal;
    letter-spacing: 1.2vw;

    @include mq(md) {
        font-size: rm(28);
        padding-top: 32px;
        letter-spacing: 0.374vw;
    }
}

&__catch {
    margin-left: vw(23);
    transform: translateY(261%);

    @include mq(md) {
        width: 364px;
        margin-left: 14.86vw;
        transform: translateY(119%);
    }
}

&__catch--cream {
    font-size: vw(41);
    font-weight: normal;
    letter-spacing: 3.2vw;
    margin-bottom: vw(8);

    @include mq(md) {
        font-size: rm(50);
        letter-spacing: 15px;
        margin-bottom: 10px;
        line-height: 4.01rem;
    }
}

&__catch--under {
    font-size: vw(20);
    letter-spacing: 1.5vw;

    @include mq(md) {
        font-size: rm(25);
        letter-spacing: 0.5vw;
        white-space: nowrap;
    }
}
}

.price {
    padding: 0 vw(16);

    @include mq(md) {
        padding: 48px 10px;
        height: 242px;
        margin: 0 auto;
    }

    &__container {
        margin-top: vw(157);
        height: vw(261);
        background-color: #F0F4FF;
        text-align: center;
        padding: 0 vw(29);
        margin-bottom: vw(50);

        @include mq(md) {
            margin: 0 auto;
            max-width: 1000px;
            height: 146px;
            padding: 40px 3.2%;
            display: flex;
            justify-content:space-between;
            align-items: center;
            gap: 4.26vw;
        }
    }

    &__container--item {
        max-width: vw(300);
        margin: 0 auto;

        @include mq(md) {
            width: 208px;
            height: 66px;
            margin: 0;
            flex-shrink: 0;
        }
    }

    &__container--item--title {
        font-size: vw(18);
        font-weight: 600;
        padding-top: vw(20);
        letter-spacing: 0.44vw;
        margin-bottom: vw(5);

        @include mq(md) {
            font-size: rm(23);
            padding-top: 0;
            letter-spacing: 0.24vw;
            margin-bottom: 0;
            white-space: nowrap;
            margin-bottom: 10px;
        }
    }

    &__container--item--tax {
        font-size: vw(14);
        font-family: "Noto Sans JP", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: vw(2);
        letter-spacing: 0.34vw;
        margin-bottom: vw(20);

        @include mq(md) {
            font-size: rm(16);
            gap: rm(2);
            letter-spacing: 2px;
            margin-bottom: 0;
            justify-content: flex-start;
        }

    }

    &__container--button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include mq(md) {
            flex-direction: row;
            width: 75%;
            gap: 2.13vw;
        }
    }

    &__container a {
        text-decoration: none;
        color: #fff;
    }


    &__container--button--item {
        width: vw(300);
        height: vw(58);
        background-color: #46C4DB;
        border-radius: 50px;
        font-size: vw(18);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: vw(20);

        @include mq(md) {
            width: 50%;
            height: rm(58);
            border-radius: 50px;
            font-size: rm(18);
            margin-bottom: 0;
            white-space: nowrap;
        }
    }

    &__container--link--green {
        background-color: #5DD5AB;
    }
}

.keep {
    background-image: url('/../images/keep_sp.jpg');
    max-width: 100%;
    height: vw(680);
    background-size: cover;

    @include mq(md) {
        background-image: url('/../images/keep_pc.jpg');
        height: 36.6vw;
        object-fit: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__container {
        padding: 0 vw(16);
        text-align: center;
        color: #fff;
        @include mq(md) {
            text-align: left;
            width: 55%;
            padding: 127px 5% 127px 7%;
    }
        @include mq(xl) {
            text-align: left;
            width: 55%;
            padding: 127px 5.3% 127px 10.2%;
        }
    }
    &__container--title {
        font-size: vw(30);
        font-weight: bold;
        font-family: "EB Garamond";
        padding-top: vw(48);
        margin-bottom: vw(8);

        @include mq(md) {
            font-size: 33px;
            padding-top: 0;
            margin-bottom: rm(9);
            white-space: nowrap;
        }
        @include mq(xl) {
            font-size: 38px;
    }
}

    &__container--skin {
        font-size: vw(24);
        font-weight: 600;
        font-family: serif;
        margin-bottom: 3.6vw;
        @include mq(md) {
            font-size: 20px;
            margin-bottom: rm(16);
            white-space: nowrap;
        }
        @include mq(xl) {
            font-size: 24px;
        }
    }

    &__container--text {
        width: vw(358);
        font-size: vw(14);
        font-family: serif;
        line-height: rm(32);
        text-align: left;
        @include mq(md) {
            width: 22rem;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.005vw;
        }
        @include mq(xl) {
            font-size: 14px;
            width: rm(429);
            line-height: 2.2;
        }
    }
}

.voice {
    padding: vw(50) vw(16) vw(42) vw(16);

    @include mq(md) {
        padding: 80px 150px;
        margin-bottom: 32px;
    }

    &__container {
        max-width: vw(358);
        margin: 0 auto;
        text-align: center;

        @include mq(md) {
            max-width: 100%;
        }
    }

    &__container--item {
        max-width: vw(85);
        margin: 0 auto;

        @include mq(md) {
            max-width: 100%;
        }
    }

    &__container--title {
        margin-bottom: vw(4);
        font-family: "EB Garamond";
        font-weight: bold;
        font-size: vw(30);
        letter-spacing: 0.4vw;

        @include mq(md) {
            margin-bottom: rm(8);
            font-size: rm(45);
            letter-spacing: 0.13rem;
        }
    }

    &__container--text {
        font-family: "Noto Sans JP", sans-serif;
        font-size: vw(16);
        font-weight: 600;
        margin-bottom: vw(36);
        letter-spacing: 0.19vw;

        @include mq(md) {
            font-size: rm(20);
            margin-bottom: rm(40);
            letter-spacing: 0.06vw;
        }
    }

    &__container--slider {
        max-width: vw(358);

        @include mq(md) {
            max-width: 100%;
        }
    }

    .slick-track {
        display: flex;
        justify-content: center;
        gap: vw(16);

        @include mq(md) {
            gap: 0.7%;
        }
    }

    .slick-dotted.slick-slider {
        margin-top: vw(16);

        @include mq(md) {
            max-width: 66.7vw;
            margin: 0 auto;
        }
    }

    .slick-slide {
        height: vw(344);

        @include mq(md) {
            height: 25.86vw;
        }
    }

    .slick-next,
    .slick-prev {
        background-color: #00AFBF;
        width: vw(32);
        height: vw(32);
        border-radius: 50%;
        z-index: 100;

        @include mq(md) {
            background-color: #00AFBF;
            width: 48px;
            height: 48px;
        }
    }

    .slick-prev {
        left: 1px;

        @include mq(md) {
            left: -80px;
        }
    }

    .slick-next {
        right: 1px;

        @include mq(md) {
            right: -80px;
        }
    }
    .slick-next:focus,.slick-next:hover,.slick-prev:focus,.slick-prev:hover{
        background-color: #00AFBF;
    }
    .slick-next::before,
    .slick-prev::before {
        font-family: 'sans-serif';
        opacity: 1;
        font-weight: bold;
    }

    .slick-dots {
        bottom: -25px;

        @include mq(md) {
            bottom: -33px;
        }
    }

    .slick-dots li {
        margin: 0 9px;
        width: 3px;
        height: 3px;

        @include mq(md) {
            margin: 0 5px;
            width: 12px;
            height: 5px;
        }
    }

    .slick-dots li button:before {
        color: #00AFBF;
        font-size: 10px;
    }

    .slick-dots li.slick-active button:before {
        color: #00AFBF;
        font-size: 10px;
    }

    &__container--slider--item {
        max-width: vw(280);
        height: vw(344);
        margin: 0 auto;
        background-color: #DBF7F9;

        @include mq(md) {
            max-width: 20vw;
            height: 25.86vw;
            margin: 0;
        }
    }

    &__container--slider--item--img {
        margin: 0 auto;
        margin-top: vw(28);
        margin-bottom: vw(8);
        width: vw(80);

        @include mq(md) {
            margin-top: 2.66vw;
            margin-bottom: 0.5vw;
            width: 35%;
        }
    }

    &__container--slider--item--name {
        font-size: vw(14);
        margin-bottom: 4.7vw;

        @include mq(md) {
            font-size: 1vw;
            margin-bottom: 0.8vw;
        }
    }

    &__container--slider--item--text {
        font-size: vw(14);
        text-align: left;
        width: vw(250);
        margin: 0 auto;
        line-height: 1.72rem;

        @include mq(md) {
            font-size: 1.06vw;
            width: 17.8vw;
            line-height: 1.86vw;
        }
    }
}

.question {
    max-width: 100%;
    background: linear-gradient(to right, #F4FFE8, #C6F0FE);
    padding: vw(33) vw(16) 3vw vw(16);
    text-align: center;

    @include mq(md) {
        padding: rm(40) 30%;
    }

    &__container {
        max-width: vw(117);
        margin: 0 auto;

        @include mq(md) {
            max-width: 100%;
        }
    }

    &__container--title {
        max-width: vw(72);
        font-size: vw(30);
        font-family: "EB Garamond";
        font-weight: bold;
        margin: 0 auto;
        letter-spacing: 0.5vw;

        @include mq(md) {
            font-size: rm(45);
            max-width: rm(146);
            letter-spacing:rm(0.11);
        }
    }

    &__container--text {
        font-size: vw(16);
        font-weight: 600;
        margin-bottom: vw(37);
        margin-top: vw(4);
        letter-spacing: 0.18vw;

        @include mq(md) {
            font-size: rm(20);
            margin-bottom: rm(40);
            margin-top: 0.65rem;
            letter-spacing: 0.06rem;
        }
    }

    .accordion {
        text-align: center;
    }

    .accordion li {
        list-style: none;
        text-decoration: none;
        background-color: #fff;
    }

    .accordion-title {
        padding: vw(20) vw(16) vw(16) vw(16);
        max-width: vw(358);
        margin: 0 auto;
        text-align: left;
        cursor: pointer;
        display: flex;
        gap: 11px;
        @include mq(md) {
        padding: rm(24) rm(24) 0.9rem rm(24);
        max-width: 100%;
        gap: rm(16);
    }
}

    .accordion-item {
        margin-bottom: vw(20);
        @include mq(md) {
            margin-bottom: 1.69rem;
    }
    }
    /* アコーディオンのコンテンツ部分 */
    .accordion-content {
        display: none;
    }

    /* 初期状態を表示するとき用のクラス */
    .accordion-content-active {
        display: block;
        padding: vw(19) vw(17) 6.8vw vw(16);
        max-width: vw(358);
        @include mq(md) {
        padding: rm(24);
    }
    }
    .accordion-container .accordion-title {
        position: relative;
    }
    .accordion-content--active .accordion-arrow-icon{
        transform: rotate(45deg);
    }
    .accordion-title-text {
        width: vw(271);
        letter-spacing: -0.26vw;
        line-height: 1.7em;
        @include mq(md) {
            width: rm(491);
            text-align: left;
            letter-spacing: -0.06rem;
    }
}
    .accordion-content {
        display: flex;
        gap: 3.2vw;
        @include mq(md) {
            gap: 1.2rem;
    }
    }
    .accordion-title-text-a {
        width: vw(297);
        @include mq(md) {
            width: rm(518);
    }
    }
    .accordion-container:last-child {
        margin-bottom: 0.1vw;
        @include mq(md) {
            margin-bottom: -1rem;
        }
    }
    .price-container.price-under{
        margin-top: vw(50);
        @include mq(md) {
            margin-top: 48px;
    }
}
}