@charset "UTF-8";

//px to rem
@function rm($px) {
    @return calc($px / 16) * 1rem;
}

// SP用のvw関数
@function vw($px) {
    @return calc($px * 100vw / 390); // 例: カンプ幅 390pxの場合 100vw/390
}

//ブレイクポイント
$breakpoints: (
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 940px)",
    "xl": "screen and (min-width: 1000px)",
    ) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Marcellus",
        "EB Garamond",
        "Noto Serif JP",
        serif;
}

.header {
    background-image: url('/assets/images/mainvisual_sp.jpg'
    );
max-width: 100%;
height: 115.3vw;
background-size: cover;
margin: 0 auto;
background-position: center;

@include mq(md) {
    background-image: url('/assets/images/mainvisual_pc.jpg');
    height: 720px;
}

&__logo {
    font-size: vw(24);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: vw(24);
    font-weight: normal;
    letter-spacing: 0.199em;

    @include mq(md) {
        font-size: rm(28);
        padding-top: 32px;
    }
}

&__catch {
    margin-left: vw(23);
    transform: translateY(261%);

    @include mq(md) {
        width: 364px;
        margin-left: clamp(4.75rem, -4.955rem + 20.22vw, 14rem);
        transform: translateY(119%);
    }
}

&__catch--cream {
    font-size: vw(41);
    font-weight: normal;
    letter-spacing: 0.3em;
    margin-bottom: vw(8);

    @include mq(md) {
        font-size: rm(50);
        margin-bottom: 10px;
        line-height: 1.278;
    }
}

&__catch--under {
    font-size: vw(20);
    letter-spacing: 0.3em;

    @include mq(md) {
        font-size: rm(25);
        white-space: nowrap;
    }
}
}

.price {
    padding: 0 vw(16);

    @include mq(md) {
        padding: 48px 10px;
        height: 242px;
        margin: 0 auto;
    }

    &__container {
        margin-top: vw(157);
        height: vw(261);
        background-color: #F0F4FF;
        text-align: center;
        padding: 0 vw(29);
        margin-bottom: vw(50);

        @include mq(md) {
            margin: 0 auto;
            max-width: 1000px;
            height: 146px;
            padding: 40px 3.2%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 4.26vw;
        }
    }

    &__container--item {
        max-width: vw(300);
        margin: 0 auto;

        @include mq(md) {
            width: 208px;
            height: 66px;
            margin: 0;
            flex-shrink: 0;
        }
    }

    &__container--item--title {
        font-size: vw(18);
        font-weight: 600;
        padding-top: vw(20);
        letter-spacing: 0.1em;
        margin-bottom: vw(5);

        @include mq(md) {
            font-size: rm(23);
            padding-top: 0;
            margin-bottom: 0;
            white-space: nowrap;
            margin-bottom: 10px;
            letter-spacing: 0.149em;
        }
    }

    &__container--item--tax {
        font-size: vw(14);
        font-family: "Noto Sans JP", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: vw(2);
        letter-spacing: 0.1em;
        margin-bottom: vw(20);

        @include mq(md) {
            font-size: rm(16);
            gap: rm(2);
            letter-spacing: 0.13em;
            margin-bottom: 0;
            justify-content: flex-start;
        }

    }

    &__container--button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include mq(md) {
            flex-direction: row;
            width: 75%;
            gap: 2.13vw;
        }
    }

    &__container a {
        text-decoration: none;
        color: #fff;
    }


    &__container--button--item {
        width: vw(300);
        height: vw(58);
        background-color: #46C4DB;
        border-radius: 50px;
        font-size: vw(18);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: vw(20);

        @include mq(md) {
            width: 50%;
            height: rm(58);
            border-radius: 50px;
            font-size: rm(18);
            margin-bottom: 0;
            white-space: nowrap;
        }
    }

    &__container--link--green {
        background-color: #5DD5AB;
    }
}

.keep {
    background-image: url('/assets/images/keep_sp.jpg');
    max-width: 100%;
    height: vw(680);
    background-size: cover;

    @include mq(md) {
        background-image: url('/assets/images/keep_pc.jpg');
        height: 36.6vw;
        object-fit: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__container {
        padding: 0 vw(16);
        text-align: center;
        color: #fff;

        @include mq(md) {
            text-align: left;
            width: 55%;
            padding: 0 5% 0 7%;
        }

        @include mq(xl) {
            text-align: left;
            width: 55%;
            padding: 0 5.3% 0 10.2%;
        }
    }

    &__container--title {
        font-size: vw(30);
        font-weight: bold;
        font-family: "EB Garamond";
        padding-top: vw(48);
        margin-bottom: vw(8);

        @include mq(md) {
            font-size: 33px;
            padding-top: 0;
            margin-bottom: rm(9);
            white-space: nowrap;
        }

        @include mq(xl) {
            font-size: 38px;
        }
    }

    &__container--skin {
        font-size: vw(24);
        font-weight: 600;
        font-family: serif;
        margin-bottom: 3.6vw;

        @include mq(md) {
            font-size: 20px;
            margin-bottom: rm(16);
            white-space: nowrap;
        }

        @include mq(xl) {
            font-size: 24px;
        }
    }

    &__container--text {
        width: vw(358);
        font-size: vw(14);
        font-family: serif;
        line-height: 2.27;
        text-align: left;

        @include mq(md) {
            width: 22rem;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.009em;
        }

        @include mq(xl) {
            font-size: 14px;
            width: rm(429);
            line-height: 2.2;
        }
    }
}

.voice {
    padding: vw(50) vw(55) vw(42) vw(55);

    @include mq(md) {
        padding: 80px 150px;
        margin-bottom: 32px;
    }

    &__container {
        max-width: vw(358);
        margin: 0 auto;
        text-align: center;

        @include mq(md) {
            max-width: 100%;
        }
    }

    &__container--item {
        max-width: vw(85);
        margin: 0 auto;

        @include mq(md) {
            max-width: 100%;
        }
    }

    &__container--title {
        margin-bottom: vw(4);
        font-family: "EB Garamond";
        font-weight: bold;
        font-size: vw(30);
        letter-spacing: 0.06em;

        @include mq(md) {
            margin-bottom: rm(8);
            font-size: rm(45);
        }
    }

    &__container--text {
        font-family: "Noto Sans JP", sans-serif;
        font-size: vw(16);
        font-weight: 600;
        margin-bottom: vw(36);
        letter-spacing: 0.05em;

        @include mq(md) {
            font-size: rm(20);
            margin-bottom: rm(40);
        }
    }

    &__container--slider {
        max-width: vw(358);

        @include mq(md) {
            max-width: 100%;
        }
    }

    .slick-track {
        display: flex;
        justify-content: center;

        @include mq(md) {
            gap: 0.7%;
        }
    }

    .slick-dotted.slick-slider {
        margin-top: vw(16);

        @include mq(md) {
            max-width: 66.7vw;
            margin: 0 auto;
        }
    }

    .slick-slide {
        height: vw(344);

        @include mq(md) {
            height: 25.86vw;
        }
    }

    .prev-arrow {
        left: -40px;
        z-index: 1;

        @include mq(md) {
            left: -80px;
        }
    }

    .next-arrow {
        right: -40px;

        @include mq(md) {
            right: -80px;
        }
    }

    .slide-arrow {
        bottom: 0;
        cursor: pointer;
        margin: auto;
        position: absolute;
        top: 0;
        width: 32px;

        @include mq(md) {
            width: 48px;
        }
    }

    .slick-dots {
        bottom: -25px;

        @include mq(md) {
            bottom: -33px;
        }
    }

    .slick-dots li {
        margin: 0 9px;
        width: 3px;
        height: 3px;

        @include mq(md) {
            margin: 0 5px;
            width: 12px;
            height: 5px;
        }
    }

    .slick-dots li button:before {
        color: #00AFBF;
        font-size: 10px;
    }

    .slick-dots li.slick-active button:before {
        color: #00AFBF;
        font-size: 10px;
    }

    &__container--slider--item {
        max-width: vw(280);
        height: vw(344);
        margin: 0 auto;
        background-color: #DBF7F9;

        @include mq(md) {
            max-width: 20vw;
            height: 25.86vw;
            margin: 0;
        }
    }

    &__container--slider--item--img {
        margin: 0 auto;
        margin-top: vw(28);
        margin-bottom: vw(8);
        width: vw(80);

        @include mq(md) {
            margin-top: 2.66vw;
            margin-bottom: 0.5vw;
            width: 35%;
        }
    }

    &__container--slider--item--name {
        font-size: vw(14);
        margin-bottom: 4.7vw;

        @include mq(md) {
            font-size: 1vw;
            margin-bottom: 0.8vw;
        }
    }

    &__container--slider--item--text {
        font-size: vw(14);
        text-align: left;
        width: vw(250);
        margin: 0 auto;
        line-height: 2;

        @include mq(md) {
            font-size: 1.06vw;
            width: 17.8vw;
            line-height: 1.8;
        }
    }
}

.question {
    max-width: 100%;
    background: linear-gradient(to right, #F4FFE8, #C6F0FE);
    padding: vw(33) vw(16) 3vw vw(16);
    text-align: center;

    @include mq(md) {
        padding: rm(40) 10%;
    }

    &__container {
        max-width: vw(117);
        margin: 0 auto;

        @include mq(md) {
            max-width: 100%;
        }
    }

    &__container--title {
        max-width: vw(72);
        font-size: vw(30);
        font-family: "EB Garamond";
        font-weight: bold;
        margin: 0 auto;
        letter-spacing: 0.07em;

        @include mq(md) {
            font-size: rm(45);
            max-width: rm(146);
            letter-spacing: 0.05em;
        }
    }

    &__container--text {
        font-size: vw(16);
        font-weight: 600;
        margin-bottom: vw(37);
        margin-top: vw(4);
        letter-spacing: 0.04em;

        @include mq(md) {
            font-size: rm(20);
            margin-bottom: rm(40);
            margin-top: 0.65rem;
        }
    }

    .accordion {
        text-align: center;
    }

    .accordion li {
        list-style: none;
        text-decoration: none;
        background-color: #fff;
        padding: vw(20) vw(16) vw(16) vw(16);

        @include mq(md) {
            padding: rm(24) rm(24) 1.4rem rm(24);
            margin: 0 auto 1.35rem auto;
            max-width: 600px;
        }
    }

    .accordion-title {
        max-width: vw(358);
        margin: 0 auto;
        text-align: left;
        cursor: pointer;
        display: flex;
        gap: 11px;
        align-items: flex-start;

        @include mq(md) {
            padding: 0;
            max-width: 100%;
            gap: 1.1rem;
        }
    }

    .accordion-item {
        margin-bottom: vw(18);

        @include mq(md) {
            margin-bottom: 1.35rem;
        }
    }

    /* アコーディオンのコンテンツ部分 */
    .accordion-content-wrapper {
        display: none;
    }

    /* 初期状態を表示するとき用のクラス */
    .accordion-content-active {
        display: block;
        padding: vw(19) vw(17) 6.8vw vw(16);
        max-width: vw(358);

        @include mq(md) {
            padding: rm(24);
        }
    }

    .accordion-content-active .accordion-title {
        position: relative;
    }

    .accordion-title--active .accordion-arrow-icon {
        transform: rotate(180deg);
    }

    .accordion-arrow-icon {
        transition: all 0.6s;
        line-height: 1.5;
        margin-top: 0.5vw;
        margin-left: auto;

        @include mq(md) {
            transition: all 0.6s;
            line-height: 1;
        }
    }

    .accordion-title-text {
        width: vw(271);
        letter-spacing: -0.06em;
        line-height: 1.74;

        @include mq(md) {
            width: rm(491);
            text-align: left;
            letter-spacing: -0.06em;
            line-height: 1.7;
        }
    }

    .accordion-content {
        padding-top: vw(14);
        display: flex;
        padding-bottom: 10px;
        gap: 3vw;

        @include mq(md) {
            gap: 1.2rem;
            padding-top: rm(19.8);
            padding-bottom: 0;
        }
    }

    .accordion-title-text-a {
        letter-spacing: -0.06em;
        width: vw(300);

        @include mq(md) {
            width: rm(518);
        }
    }

    .accordion-container:last-child {
        margin-bottom: 0.1vw;

        @include mq(md) {
            margin-bottom: -1.5rem;
        }
    }
}

.price-under {
    @include mq(md) {
        padding-bottom: 1px;
        height: 193px;
    }
}

.price-container-under {
    margin-top: vw(50);
    margin-bottom: -4vw;

    @include mq(md) {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.price-arrow-up {
    width: vw(40);
    height: vw(40);
    padding: 1.7vw vw(12) 0 vw(12);
    background-color: #0071CE;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 85.3%;
    margin-top: vw(25);
    position: sticky;
    bottom: 2rem;
    right: 3rem;

    @include mq(md) {
        width: rm(40);
        height: rm(40);
        padding: 0.3rem rm(12) 0 rm(12);
        margin-left: 87.3%;
        margin-top: rm(8);

    }
}

.arrow-up-icon {
    font-weight: bold;
    font-size: vw(20);

    @include mq(md) {
        font-size: rm(20);
        font-weight: bold;

    }
}

.bi::before {
    font-weight: bold !important;
}

.footer {
    height: vw(165);
    background-color: #0071CE;
    color: #fff;
    text-align: center;
    padding: vw(24.6) vw(16);

    @include mq(md) {
        height: rm(104);
        padding: rm(32) 1%;
    }

    &__container {
        margin: 0 auto;
        max-width: vw(300);

        @include mq(md) {
            max-width: 1140px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;

        }
    }

    &__container--logo {
        font-size: vw(28);
        margin-bottom: vw(24);
        font-weight: normal;
        letter-spacing: 0.199em;

        @include mq(md) {
            font-size: clamp(1.688rem, 1.36rem + 0.68vw, 2rem);
            margin-bottom: 0;
            width: rm(190);
            white-space: nowrap;
        }
    }

    &__container--item a {
        text-decoration: none;
        color: #fff;
        font-size: vw(12);

        @include mq(md) {
            font-size: clamp(0.75rem, 0.619rem + 0.27vw, 0.875rem);
        }
    }

    &__container--item {
        margin-bottom: vw(25);
        display: flex;
        gap: vw(30);

        @include mq(md) {
            margin-bottom: 0;
            width: rm(343);
            gap: 9.3%;
            margin-left: 4.5%;
        }
    }

    &__container--copy {
        font-size: vw(12);
        letter-spacing: -0.005em;
        font-family: "Noto Sans JP", sans-serif;

        @include mq(md) {
            font-size: rm(12);
            width: rm(242);
            letter-spacing: 0.032em;
            white-space: nowrap;
        }
    }
}